body {
	background-image: url(https://i.pinimg.com/originals/ec/6b/2b/ec6b2b877f7a20be4ab082f317fd8a3d.jpg);
}

table {
	background: black;
	margin-top:150px;
	margin-left: auto;
	margin-bottom: auto;
	margin-right: auto;
	text-align: center;
}

.btn {
	margin: 5px 5px;
	font-size: 10px;
}

#cap {
	position: absolute;
	top:-10px;
	left:633px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top:120px;
}

#bod {
	margin-top:10px;
}
